@model IEnumerable<Domain.Entities.Funcionalidade>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Funcionalidades</h1>

<p>
    <a asp-action="Create">Criar uma Nova Funcionalidade</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdFuncionalidade }, new { @class = "btn btn-primary" })|
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdFuncionalidade }, new { @class = "btn btn-info" })|
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdFuncionalidade }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
