@model IEnumerable<Domain.Entities.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Perfis</h1>

<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePerfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomePerfil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdPerfil }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdPerfil }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdPerfil }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
