@model IEnumerable<Domain.Entities.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de usuarios</h1>
<partial name="_MessageCrud" />
<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar usuario</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPerfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perfil.NomePerfil)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdUsuario }, new { @class="btn btn-primary"}) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdUsuario }, new { @class="btn btn-info"}) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdUsuario }, new { @class="btn btn-danger"})
            </td>
        </tr>
}
    </tbody>
</table>
